<?php

return [
	'propel' => [
		'database' => [
			'connections' => [
				'gtd' => [
					'adapter'    => 'mysql',
					'classname'  => 'Propel\Runtime\Connection\ConnectionWrapper',
					'dsn'        => 'mysql:host=localhost;dbname=gtdserver',
					'user'       => 'gtdserver',
					'password'   => '<password>',
					'attributes' => []
				]
			]
		],
		'runtime' => [
			'defaultConnection' => 'gtd',
			'connections' => ['gtd']
		],
		'generator' => [
			'defaultConnection' => 'gtd',
			'connections' => ['gtd']
		]
	]
];